---
layout: default
---
<header class="masthead">
  <h1 class="masthead-title--small">
    <a href="{{ site.baseurl }}/">{{ site.name }}</a>
  </h1>
</header>
<div class="content post">
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-date">
    <time>{{ page.date | date_to_string }}</time>
  </div>
  {{ content }}
  <hr />
  <div>
      Questions? Comments? Tweet <a href="https://twitter.com/cvlad">them</a>,
      or post an issue on this
      <a href="https://github.com/vladciobanu/vladciobanu.github.io/issues">blog's github repo</a>.
  </div>
</div>
